@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

* {
  box-sizing: border-box; /*biar sizenya tidak terganggu, normal ae*/
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

.jumbotron {
  padding-top: 12rem;
  padding-bottom: 4rem;
  background-color: white;
}

.jumbotron h1 {
  font-weight: 600;
}

.about {
  background-color: #f2c94c;
  padding-bottom: 4rem;
}

h2 {
  font-weight: 600;
}

#projects {
  background-color: white;
  padding-bottom: 4rem;
}

.card {
  border-style: none;
}

.porto {
  border-style: none;
}

.insta a {
  text-decoration: none;
  color: black;
}

#contact {
  background-color: white;
  padding-bottom: 4rem;
}

footer {
  background-color: #f2c94c;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

section {
  padding-top: 7rem;
}
